@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}

/**/

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(#75e6a7, #175132);
    text-align: center;
    padding: 0 20px 0 20px;
    color: white;
}

header > p {
    text-indent: 0em;
}

nav {
    text-align: left;
    font-weight: bold;
    padding: 20px 0px 5px 0px;
    font-size: 12px;
}

nav > a {
    padding-right: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: yellow;
}

body {
    background-color: #84e1ad;
    text-align: justify;
    margin: -10px;
}

main {
    background-color: white;
    margin: 0px auto 10px auto;
    padding-bottom: 5px;
    border-radius: 0 0 1% 1%;
    width: 75%;
}

main a:visited {
    color: #1a5c38;
}

main a:after {
    content: "🔗";
}
p {
    text-indent: 2em;
    margin: 20px;
}

strong {
    color: #1a5c38;
}

h2 {
    margin-top: 0px;
    padding-top: 10px;
    margin-left: 10px;
}

h2,h3 {
    font-family: 'android';
    color: #1a5c38;
    text-indent: 10px;
}

h3 {
    background: linear-gradient(to right, #75e6a7, #ffffff);
    margin-left: 20px;
}

#video {
    background-color: #1a5c38;
    padding: 10px;
}

#midia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    width: 95%;
}

#video iframe {
    max-width: 560px;
}

section {
    border-radius: 2% 2% 2% 2%;
    background-color: #c5ebd6;
    margin: 20px;
    padding-bottom: 10px;
}

section > p {
    margin: 10px;
}
h4 {
    border-radius: 5% 5% 0 0;
    background-color: #2fa866;
    color: white;
    padding: 10px 10px 10px 10px;
}

#list {
    display: inline-block;
    width: 350px;
    margin-left: -30px;

}

ul {
    list-style: none; 
}

ul li {
    text-decoration: underline;
}

ul li::before {
    content: "✔  ";
}

footer {
    text-align: center;
    color: white;
    background-color: #1a5c38;
    font-size: 12px;
    padding: 10px;
}

